# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.lai

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.smod
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation<. https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*-cache*
*-bak
*-bak*
*~
~*
_autosave-*
\#auto_saved_files\#
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck
\#auto_saved_files#

# Netlist files (exported form Eeschema)
*.net

# Autorouter files (exported from Pcbnew
*.dsn
*.ses

# Exported BOM files
# *.xml
# *.csv

# Archived Backups (KiCad 6.0)
**/*-backup/*.zip

# Local project settings
*.kicad_prl
